.main
    width: 320px
    background-color: whitesmoke

////////////////////////////////////////
// クラス

.chara-classes-outer
    display: inline-block

.chara-classes
    width: 170px

////////////////////////////////////////
// キャラクター

.charas-outer
    display: inline-block
    margin-left: 5px

.charas
    width: 135px

////////////////////////////////////////
// 閃き可能な技

.wazas-outer
    display: inline-block

.wazas
    width: 185px

.weapon-type-filter
    margin-top: 0px
    margin-bottom: 2px
    margin-left: 0px
    margin-right: 0px

////////////////////////////////////////
// 閃き率の表示件数

.nums-of-shown-records-outer
    display: inline-block
    margin-left: 35px

.nums-of-shown-records
    width: 65px

////////////////////////////////////////
// 閃き率

.spark-rates-outer

.spark-rates
    font-size: 14px
    border: 1px solid black

.spark-rates th
    border: 1px solid black

.spark-rates th.number
    width: 20px

.spark-rates th.spark-rate
    width: 45px

.spark-rates th.enemy-name
    width: 120px

.spark-rates th.enemy-type
    width: 45px

.spark-rates th.enemy-rank
    width: 45px

.spark-rates td
    border: 1px solid black

.spark-rates td.number
    text-align: center

.spark-rates td.spark-rate
    text-align: right

.spark-rates td.enemy-name

.spark-rates td.enemy-type

.spark-rates td.enemy-rank
    text-align: right
